@media (max-width: 1200px) {
  .container {
    padding: 0px 2.4rem;
  }
}
@media (max-width: 1000px) {
  .hero-heading {
    font-size: 5rem;
  }
  .facilities-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .booking-section {
    padding: 3.2rem;
  }
}
